# You can also set this as environment variable: TF_VAR_digitalocean_token
digitalocean_token = "dop_v1_xxx"

cluster_name        = "scenario-kubernetes-foundation"
region              = "fra1"
kubernetes_version  = "latest"
cluster_tags        = ["opsd", "kubernetes", "scenario"]
auto_upgrade        = true
surge_upgrade       = true
ha                  = false

create_vpc      = true
vpc_uuid        = null
vpc_name        = "scenario-kubernetes-foundation-vpc"
vpc_description = "Scenario kubernetes-foundation VPC managed by OPSd"
vpc_ip_range    = null

node_pool_name  = "default"
node_size       = "s-2vcpu-4gb"
node_count      = 1
node_auto_scale = false
node_min_nodes  = 1
node_max_nodes  = 3
node_tags       = []
node_labels     = {}

maintenance_day        = null
maintenance_start_time = null
maintenance_duration   = null

project_name        = "scenario-kubernetes-foundation"
project_description = "Scenario kubernetes-foundation managed by OPSd"
project_purpose     = "Service or API"
project_environment = "Development"
